@model AtlasYikamaProject.DAL.Entitys.About2
@{
    ViewBag.Title = "UpdateAbout2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda 2 Güncelleme Sayfası</h2>

<form method="post">

    <label>Hakkımızda ID</label>
    @Html.TextBoxFor(x => x.About2ID, new { @class = "form-control" })
    <label>Başlık </label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Başlık 2</label>
    @Html.TextBoxFor(x => x.Title2, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>
        Görsel/label>
        @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
        <br />


        <button class="btn btn-success">Kaydet</button>
</form>
