
@{
    Layout = null;
}


@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="zxx">

@Html.Action("PartialHead")

<body>
    <!-- header -->
    @Html.Action("PartialHeader")
    <!-- //header -->
    <!-- banner -->
    @Html.Action("PartialCallBack")
    <!-- //banner -->
    <!-- banner bottom -->
    @Html.Action("PartialAbout")

   

    <!-- //banner bottom -->
    <!-- progress -->
    @Html.Action("PartialProgress")
    <!-- //progress -->
    <!-- middle section -->
    @Html.Action("PartialAbout2")
    <!-- //middle section -->
    <!-- services -->
    @Html.Action("PartialService")
    <!-- //services -->
    <!-- mobile section -->
    @Html.Action("PartialFeature")
    <!-- //mobile section -->
    <!-- posts -->
    @Html.Action("PartialComment")
    <!-- //posts -->
    <!-- footer -->
    @Html.Action("PartialFooter")
    <!-- //footer -->
    <!-- Js files -->
    <!-- JavaScript -->
    @Html.Action("PartialScript")

</body>

</html>

